---
// @pages/index.astro
import Main from '@/layouts/Main.astro';
import Section from '@/layouts/Section.astro';
import Aside from '@/layouts/Aside.astro';
import RuizamHeader from '@/components/wrappers/RuizamHeader.astro';
import BlogCarousel from '@/components/wrappers/BlogCarousel.astro';
import '@styles/global.css';
---

<Main>
  <Section>
    <RuizamHeader />
    <BlogCarousel />
  </Section>
  <Aside />
</Main>
